<!DOCTYPE html>
<html ng-app="graph-app">

<head>
    <title>Graph Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <!-- <link rel="stylesheet" href="css/nv.d3.css" /> -->
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="css/new_css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angularjs-nvd3-directives.js"></script>
</head>

<body>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <div ng-controller="graphController as gc" class="container col-md-12 col-sm-12 col-xs-12">
                    <br>
                    <md-tab label="SEARCH" class="tsmibold" ng-click="gc.search()">
                        <md-content class="md-padding">
                            <div class="col-md-2 col-sm-2 col-xs-2"></div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class="search">Search</label>
                                    <md-button class="md-raised" ng-click="gc.search()"><i class="fa fa-search" aria-hidden="true"></i></md-button>
                                    <!-- <input ng-model="gc.searchKeyword"> -->
                                     <!-- <input auto-complete items="gc.names" ng-model="selected"> -->
                                <!-- <input type="text" class="form-control autocomplete" ng-model="gc.selected" typeahead="state for state in gc.states | filter:$viewValue"> -->

                              <!--   <input name="gc.states" id="states" type="text" placeholder="enter a state" ng-model="gc.selected" typeahead="i for i in states($viewValue)" class="form-control" > -->
                              <input type="text" class="form-control autocomplete" ng-model="gc.selected" typeahead="state for state in gc.states | filter:$viewValue">

                              <!--  <div class="form-group">
    <label><i class="fa fa-globe"></i> State</label>
    <input type="text" class="form-control" ng-model="selectedState" bs-options="state for state in states" placeholder="Enter state" bs-typeahead>
  </div> -->
                                </md-input-container>
                                {{gc.states}}
                                <div class="details pull-left" ng-show= "gc.details">

                                    <p><span class="elmnt tbold">ID:</span><span class="element_value">{{gc.result._id}}</span></p>
                                    <p><span class="elmnt tbold">Ticker:</span><span class="element_value tregular">{{gc.result.Ticker}}</span></p>
                                    <p><span class="elmnt tbold">Total Debt/Equity:</span><span class="element_value tregular">{{gc.result["Total Debt/Equity"]}}</span></p>
                                    <p><span class="elmnt tbold">Sector:</span><span class="element_value tregular">{{gc.result.Sector}}</span></p>
                                    <p><span class="elmnt tbold">Earnings Date:</span><span class="element_value tregular">{{gc.result["Earnings Date"]}}</span></p>
                                    <p><span class="elmnt tbold">Industry:</span><span class="element_value tregular">{{gc.result.Industry}}</span></p>
                                    <p><span class="elmnt tbold">P/Free Cash Flow:</span><span class="element_value tregular">{{gc.result["P/Free Cash Flow"]}}</span></p>
                                    <p><span class="elmnt tbold">Institutional Transactions:</span><span class="element_value tregular">{{gc.result["Institutional Transactions"]}}</span></p>
                                    <p><span class="elmnt tbold">Performance (Year):</span><span class="element_value tregular">{{gc.result["Performance (Year)"]}}</span></p>
                                    <p><span class="elmnt tbold">Response JSON:</span><span class="element_value tregular">{{gc.result}}</span></p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2"></div>
                        </md-content>
                    </md-tab>
                    <!-- </div> -->
                    <md-tab label="BAR CHART" ng-click="gc.barGraph()">
                        <md-content class="md-padding">c
                            <ul class="chart" style="width:{{gc.width}}px; height:{{gc.height}}px;">
                                <div class="y" style="width:{{gc.height}}px;">{{gc.yAxis}}</div>
                                <div class="x">{{gc.xAxis}}</div>
                                <li ng-repeat="bar in gc.avgProfit" class="bar" style="height:{{bar.avg / gc.max * 20}}px; width:{{gc.width / gc.avgProfit.length - 5}}px; left:{{$index / gc.avgProfit.length * gc.width}}px;"><span>{{bar.sec}}:{{bar.avg}}</span></li>
                                <li ng-repeat="bar in gc.avgProfit" class="bar" style="position: absolute;
    top: 23.3em;height:{{-(bar.avg / gc.max *20)}}px; width:{{gc.width / gc.avgProfit.length - 5}}px; left:{{$index / gc.avgProfit.length * gc.width}}px;"><span>{{bar.sec}}:{{bar.avg}}</span></li>
                            </ul>
                        </md-content>
                    </md-tab>
                    <md-tab label="PIE CHART" ng-click="gc.pieChart()">
                        <md-content class="md-padding">
                       
                            <div id="pieChart" class="pchart"></div>
                            <p class="tbold totl_chrt">Total Market Cap of Industries</p>
                        </md-content>
                    </md-tab>
            </md-tabs>
        </md-content>
        </div>
</body>
<!-- Angular.js -->
<script src="js/jquery.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-aria.min.js"></script>
<script src="js/angular-messages.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js"></script>
<!-- Angular Material Library -->
<script src="js/angular-material.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="js/pie_chart.js"></script>

</html>
